.counter{
    display:grid;
    grid-template-rows: 2fr 1fr;
    width:30em;
    height:60%;
    border: 2px #61dafb solid;
    border-radius: 20px;
}

.content {
    display:grid;
    /*flex-wrap:wrap;*/
    margin:10px;
    border: 2px #61dafb solid;
    border-radius: 20px;
    align-content: center;
    justify-content: center;
    color:#61dafb;
    font-weight: bold;
}
.buttonControls{
    /*align-items: center;*/
    /*justify-items: center;*/
    border: 2px #61dafb solid;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:5px;
    padding:10px;
    margin:10px;
}
.red{
    color:darkred;
}